<!DOCTYPE html>
<html>
<head><title>weekly</title></head>
<body>
	<h1>List of all Dishes:</h1>
	<table>
    <thead>
        <tr>
            <th> DishId </th>
            <th> Dishname </th>
        </tr>
    </thead>
    <tbody>
    <tr th:if="${dishes.empty}">
            <td colspan="2"> No Books Available </td>
        </tr>
        <tr th:each="dish : ${dishes}">
            <td><span th:text="${dish.id}"> name </span></td>
            <td><span th:text="${dish.name}"> id </span></td>
        </tr>
    </tbody>
</table>
</body>
</html>